@import 'reset.css';
@import 'variables/global.css';
@import 'themes/light.css';
@import 'themes/dark.css';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
