.form {
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 50px 0 rgb(34 60 80 / 20%);
  -moz-box-shadow: 4px 4px 50px 0 rgb(34 60 80 / 20%);
  box-shadow: 4px 4px 50px 0 rgb(34 60 80 / 20%);
  background: white;
  display: flex;
  flex-direction: column;
  height: 550px;
}

.login_component {
  width: 500px;
  background: #213547;
  height: 400px;
}

.login_page_form_container {
  box-shadow: 0 4px 5px 2px rgb(0 0 0 / 15%);
  border-radius: 20px;
}

.form_header {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

.form_footer {
  padding: 30px 0;
  text-align: center;
}

.form_body {
  display: flex;
  flex-direction: column;
  padding: 40px 60px 0;
}

.form_label {
  display: flex;
  margin-top: 12px;
  margin-bottom: 10px;
}

.form_input {
  border-radius: 5px;
}
