.Modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  color: black;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: var(--overlay-color);
  opacity: 0.5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  opacity: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
  border-radius: 12px;
  animation: open 0.4s forwards;
}

@keyframes open {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);
}
