.Modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  color: black;
}

.Modal.dark {
  --bg-color: var(--inverted-bg-color);
  --primary-color: var(--inverted-primary-color);
}

.overlay {
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  display: flex;
  align-items: center;
  opacity: 0.5;
  justify-content: center;
}

.content {
  opacity: 1;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.5);
  border-radius: 12px;
  background: var(--bg-color);
  max-width: 60%;
  animation: open 0.4s forwards;
}

@keyframes open {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);
}
