.button {
  cursor: pointer;
  padding: 10px 20px;
  color: black;
  border: none;
  outline: none;
}

.button:active {
  opacity: 0.6;
}

.primary {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.secondary {
  background: var(--inverted-bg-color);
  color: var(--secondary-color);
}

.inverted {
  background: none;
  background: var(--bg-color);
  color: var(--primary-color);
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}
