.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  padding: 20px;
  transition: width 0.3s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  flex-direction: column;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 20px;
}

.mainLink:not(:first-child) {
  margin-top: 15px;
}
