.body {
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 50px 0 rgb(34 60 80 / 20%);
  -moz-box-shadow: 4px 4px 50px 0 rgb(34 60 80 / 20%);
  box-shadow: 4px 4px 50px 0 rgb(34 60 80 / 20%);
  background: white;
  display: flex;
  flex-direction: column;
  padding: 30px;

  justify-content: space-evenly;
}

.errorTitle {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
}
.errorText {
  text-align: center;
  font-size: 20px;
}
