.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #ececec;

  --primary-color: #049604;
  --secondary-color: #04ff04;

  --inverted-primary-color: #000e5f;
  --inverted-secondary-color: #220072;
}
