.app.dark {
  --bg-color: #1b1b1b;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #f6c77f;
  --secondary-color: #1b1b1b;
  --inveted-primary-color: #0232c2;
  --inveted-secondary-color: #0449e0;
}
