:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #1b1b1b;

  --primary-color: #1b1b1b;
  --inverted-primary-color: #f6c77f;
  --secondary-color: #f6c77f;
  --inverted-secondary-color: #1b1b1b;
}
