.navbar {
  width: 100%;
  height: vat(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  margin-left: auto;
}
.mainLink {
  margin-right: 15px;
}
